name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ANDROID_HOME: "/opt/termux/android-sdk"
      NDK: "/opt/termux/android-ndk"

    strategy:
      matrix:
        target_arch: [x86_64, aarch64, arm, i686]

    steps:
      - uses: actions/checkout@v2

      - name: Clone
        run: git clone https://github.com/termux/termux-packages.git

      - name: Add proot-portable package
        run: |
          mkdir termux-packages/packages/proot-portable
          cp build.sh termux-packages/packages/proot-portable

      - name: Build proot-${{ matrix.target_arch }}
        working-directory: ./termux-packages
        run: ./scripts/run-docker.sh ./build-package.sh -a ${{ matrix.target_arch }} -I proot-portable

      - name: Upload proot-${{ matrix.target_arch }}
        uses: actions/upload-artifact@v1
        with:
          name: proot-${{ matrix.target_arch }}
          path: termux-packages/proot

  pages:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Make dirs
        working-directory: public
        run: mkdir x86_64 aarch64 armv7 x86

      - uses: actions/download-artifact@v1
        with: { name: proot-x86_64, path: public/x86_64 }

      - uses: actions/download-artifact@v1
        with: { name: proot-aarch64, path: public/aarch64 }

      - uses: actions/download-artifact@v1
        with: { name: proot-arm, path: public/armv7 }

      - uses: actions/download-artifact@v1
        with: { name: proot-i686, path: public/x86 }

      - name: Deploy
        uses: crazy-max/ghaction-github-pages@v1
        with:
          target_branch: gh-pages
          build_dir: public
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
